
<!DOCTYPE html>
<html>
<head>
	<title> chat</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
     <script src="/js/chat.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

</head>
<body id="body-style">
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">welcome </a>
</div>
<ul class="nav navbar-nav navbar-right">
<li>
<a href="/home"><span class="glyphicon glyphicon-log-out"></span>logout</a>
</li>
</ul>
</div>
</nav>
<div class="container"><center>
<form role="form" action="chat">
<p><h1>Welcome to chat</h1> </p>
<div id="msg"></div><br>
<ul><textarea type="text" class="form-control" placeholder="please enter the data" id="chat">
</textarea>
<button type="button" class="btn btn-primary" id="send">send</button></ul>
</form></center>
</div>
</body>
</html>