
<!DOCTYPE html>
<html>
<head>
	<title> home</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/parsley.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

</head>
<body id="body-style">
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">welcome </a>
</div>
</div>
</nav>

<div class="container">
<center>
<form role="form" action="home">
<h1>registration form</h1><br>
<a role="button" class="btn btn-success btn-lg" href="/signup" id="signup_btn"> sign up</a>
<a role="button" class="btn btn-success btn-lg" href="/login" id="login_btn"> log in </a>
</form></center>
</div>
</body>
</html>