
<!DOCTYPE html>
<html>
<head>
	<title> home</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jQuery.min.js"> </script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/js/login.js"></script>
     <script src="/js/signup.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

</head>
<body class="container">
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">welcome </a>
</div>
</div>
</nav>
<div>
<center>
<form role="form" action="home">
<h1>registration form</h1><br>
<ul><button type="button" class="btn btn-success btn-lg" id="signup-btn"> sign up</button>
<button type="button" class="btn btn-success btn-lg" id="login-btn"> log in </button></ul>
</form></center>
</div>
</body>
</html>