<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link href="/css/style.css" rel="stylesheet">
      <script src="/js/angular.min.js"></script>
      <script src="/js/signup.js" type="text/javascript"></script>
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/parsley.min.js"></script>
</head>
<body id="body-style" ng-app="sign" ng-controller="control">
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">welcome </a>
</div>

  <ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/"><span class="glyphicon glyphicon-user"></span>home</a>
    </li>
  </ul>
</div>
</nav>
<div class="container">
<h1><center>signup page</center></h1><br>
<div><center>
<form  class="form" action="signup" role="form">
		 <div class="form-group">
           <label for="name">user name</label>		
           <input type="text" class="form-control" ng-model="name" name="name" value="" placeholder="user name" data-parsley-required data-parsley-error-message="enter your name">	
		 </div>
		
	   <div class="form-group">
           <label for="email">Email </label>		
           <input type="email" class="form-control" ng-model="email" name="email" value="" placeholder="email" data-parsley-required data-parsley-error-message="enter your email">	
         
		 </div>
		
		 <div class="form-group">
           <label for="password">password</label>		
           <input type="password" class="form-control" ng-model="password" value="" name="password" placeholder="password" data-parsley-required data-parsley-error-message="enter your password">
           
		 </div>
		 <div class="form-group" >
			     <label for="dob">dob</label>
			     <input type="date" class="form-control" ng-model="date" value="" name="date" placeholder="DOB" data-parsley-required data-parsley-error-message="enter your dob">
           
		 </div>
     <div class="form-radio ">
           <label for="gender">Gender: </label>
  
          Male: <input type="radio" ng-model="gender" name="gender" value="male" data-parsley-required data-parsley-error-message="enter your gender">
        Fmale: <input type="radio" ng-model="gender" name="gender" value="fmale">
        
  
     </div> <br>
     <button type="button" class="btn btn-success" ng-click="submit()" value="">Signup</button>
</form>
    </center>
</div></div>
</body>
</html>